.video_card{
    
    padding: 2rem;
    background-color: var(--card-bg-color);
    border: 0.2rem solid var(--accent-color);
    border-radius: var(--borderRadius);
    height: 30rem;
    position: relative;

}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Mobile Devices (landscape) */
@media (max-width: 775px) { 
}
