:root {
    --background-color: #FEF0E5;
    --accent-color: #C69999;
    --card-bg-color: white;
    --header-color: #333333;
    --text-color: #333333;

    --background-color-dark-mode: #333333;
    --accent-color-dark-mode: #C69999;
    --card-bg-color-dark-mode: #C8D7EB;
    --header-color-dark-mode: #C69999;
    --text-color-dark-mode: #333333;

    /* border styles */
    --borderRadius: 0.2rem;
    /* hover transition */
    --hoverTransition: 0.3s ease-in-out;
    /* content gap*/
    --contentGap: 2.2rem;
    /* horizontal lines */
    --horizontal-line: 0.3rem;
    
}