:root {
    --background-color: #FFEDD8 ;
    --accent-color: #FF7070 ;
    --card-bg-color: #FFF5EE;
    --header-color: #333333;
    --text-color: #333333;

    /* border styles */
    --borderRadius: 2rem;
    /* hover transition */
    --hoverTransition: 0.3s ease-in-out;
    /* content gap*/
    --contentGap: 2.2rem;
    /* horizontal lines */
    --horizontal-line: 0.3rem;
    
}