.container {
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin: 0 10%;
    padding: 0;
    min-height: 100vh;
}
  
/* Smaller Screen Rezise */
@media only screen and (max-width: 1200px){
.container{
  }
}

/* Galaxy fold / < 300 px tiny screens */
@media only screen and (max-width: 300px){
.container {
    margin: 0 1rem;
  }
}