.footer { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30rem;
    gap: 1.5rem;
}

.footer div {
    display: flex;
    gap: 2.5rem;
}

.icon {
    font-size: 3rem;
}

.footer a:hover{
    color: var(--accent-color);
}

/* Mobile Devices up to 480px */
@media (max-width: 480px) {  
    .footer{
        margin-top: 14rem;
    }
}
