.footer { 
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer div {
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    gap: 2.5rem;
}

.icon {
    font-size: 3rem;
}

.footer a:hover{
    color: var(--accent-color);
}

