.theme_toggle {
    display: flex;
    margin-top: -0.2rem;
    margin-left: 0.1rem;
}

.theme_toggle_label {
    width: 6.5rem;
    height: 3rem;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20rem;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}
.theme_toggle_label:after {
    content: "";
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    background: linear-gradient(180deg, #D4B3B3, var(--accent-color));
    border-radius: 18rem;
    box-shadow: 0px 5px 0.1remx rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.theme_toggle_input {
    width: 0;
    height: 0;
    visibility: hidden;
}
.theme_toggle_input:checked + .theme_toggle_label {
    background: #242424;
}
.theme_toggle_input:checked + .theme_toggle_label:after {
    left: 6.2rem;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #808080, var(--background-color));
}
.theme_toggle_label:active:after {
    width: 0.3rem;
}

.theme_toggle_label svg {
    position: absolute;
    width: 0.2rem;
    top: 0.5rem;
    z-index: 100;
}
.theme_toggle_label svg.sun {
    left: 0.5rem;
    fill: #fff;
    transition: 0.3s;
}
.theme_toggle_label svg.moon {
    left: 4rem;
    fill: #7e7e7e;
    transition: 0.3s;
}
.theme_toggle_input:checked + .theme_toggle_label svg.sun {
    fill: #7e7e7e;
}
.theme_toggle_input:checked + .theme_toggle_label svg.moon {
    fill: #fff;
}
