.yt_playlist_container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.overflow_content_container{
    display: flex;
    gap: 5rem;
    overflow-x: hidden;
}

.icon {
    font-size: 3.25rem;
    margin: 1.2rem;
    fill: rgba(255, 112, 112, 0.4);
    cursor: pointer;
}

.icon:hover{
    fill: var(--accent-color);
}


